#map {
  height: 30%;
  width: 30%;
}

.md-button {
    width: 120px;
    height: 30px;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    font-size: 10px;
    padding: 0 0;
    margin: 0;
}

md-input-container .md-errors-spacer{
    min-height: 0px !important;
}
