<html lang="en" >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <!-- Google Map -->
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTTv7h0qKA3oi8ruS47R1DNIJIgpmvN3g&libraries=places&callback=initMap">
        </script>
        <!-- css and js -->
        <link rel="stylesheet" href="css/styles.css">
        <script type="text/javascript" src="js/acp.js"></script>
        <script type="text/javascript" src="js/factory.js"></script>
        <script type="text/javascript" src="js/result_controller.js"></script>
        <script type="text/javascript" src="js/search_controller.js"></script>
        <script type="text/javascript" src="js/user_console_controller.js"></script>
        <script type="text/javascript" src="js/initMap.js"></script>
        <!-- data table -->
        <link rel="stylesheet" href="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">
        <script src="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>
    </head>

    <body ng-app="acp" ng-cloak>

        <div>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 md-truncate flex>Apartment Comparator</h2>
                </div>
            </md-toolbar>
        </div>

        <div ng-app="acp" ng-controller="user_console_controller" layout="column" ng-cloak class="md-inline-form">
            <md-list flex-offset="40" layout-padding>
                <md-list-item layout-align="start center">
                    <!-- <p flex="10"></p> -->
                    <md-input-container md-no-float flex>
                        <label>Username</label>
                        <input ng-model="username" type="email" flex>
                    </md-input-container>

                    <md-input-container md-no-float flex>
                        <label>Password</label>
                        <input ng-model="password" type="password" flex>
                    </md-input-container>

                    <md-button md-no-ink class="md-raised md-primary" ng-click="login($event)">Login</md-button>
                    <md-button ng-disabled="isDisabled" md-no-ink class="md-raised md-primary" ng-click="logout()">Logout</md-button>
                    <md-button md-no-ink class="md-raised md-primary" ng-click="register($event)">Register</md-button>
                    <!-- <md-button ng-disabled="isDisabled" class="md-raised md-primary" ng-click="save_result()">Save Result</md-button>
                    <md-button ng-disabled="isDisabled" class="md-raised md-primary" ng-click="show_results()">Show Results</md-button> -->
                    <!-- <md-button ng-disabled="isDisabled" class="md-raised md-primary">Apartment Report</md-button> -->
                </md-list-item>
            </md-list>
        </div>

        <div ng-app="acp" ng-controller="search_controller" layout="column" ng-cloak class="md-inline-form">
            <md-content flex-offset="0" layout-padding layout="row">
                <div flex="50">

                    <md-checkbox ng-model="allow_to_collect_data">
                        Allow the system to collect your search queries
                    </md-checkbox>

                    <md-input-container class="md-block">
                        <label>Address</label>
                        <input ng-model="address">
                    </md-input-container>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>City</label>
                            <input ng-model="city">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>State</label>
                            <input ng-model="state">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Postal Code</label>
                            <input name="postal_code" ng-model="postal_code" placeholder="12345"
                            required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Radius (Meter)</label>
                            <input ng-model="radius" placeholder="1000">
                        </md-input-container>
                    </div>

                    <div layout="column" layout-sm="column" layout-align="center center" layout-wrap="">
                        <section>
                            <md-button class="md-raised" ng-click="search()">search</md-button>
                            <md-button class="md-raised md-primary" ng-click="clearFunc()">clear</md-button>
                        </section>
                    </div>
                </div>

                <div id="map" flex="50"></div>
            </md-content>

            <md-content layout-padding laout="column" flex>
                <md-table-container>
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column><span>Price</span></th>
                                <th md-column><span>Detials</span></th>
                                <th md-column><span>Rating</span></th>
                                <th md-column><span>Restaurant</span></th>
                                <th md-column><span>Supermarket</span></th>
                                <th md-column><span>Bank</span></th>
                                <th md-column><span>Gas</span></th>
                            </tr>
                        </thead>

                        <tbody md-body>
                            <tr md-row>
                                <td md-cell>{{price}}</td>
                                <td md-cell><a ng-href="{{link}}">{{link_name}}</a></td>
                                <td md-cell>{{rating}}</td>
                                <td md-cell>{{num_restaurant}}</td>
                                <td md-cell>{{num_supermarket}}</td>
                                <td md-cell>{{num_bank}}</td>
                                <td md-cell>{{num_gas}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-content>
        </div>

        <div ng-app="acp" ng-controller="result_controller" layout="column" ng-cloak class="md-inline-form" layout-padding flex>
        <md-content>
            <md-button md-no-ink class="md-raised md-primary" ng-click="save_result($event)">Save Result</md-button>
            <md-button md-no-ink class="md-raised md-primary" ng-click="delete_result($event)">Delete Result</md-button>
            <md-button md-no-ink class="md-raised md-primary" ng-click="check_price($event)">Check Price</md-button>
            <md-button md-no-ink class="md-raised md-primary" ng-click="results_report($event)">Results Report</md-button>

            <!-- <a ng-href="{{url}}" download="results_report.csv"> -->
            <!-- <a ng-click="results_report()" ng-href="{{url}}" download> -->
            <!-- <a ng-click="results_report()" ng-href="{{url}}" download>
                <md-button md-no-ink class="md-raised md-primary" ng-click="results_report()">Results Report</md-button>
            </a> -->

            <md-table-container>
                <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
                    <thead md-head md-order="query.order" md-on-reorder="logOrder">
                        <tr md-row>
                            <th md-column><span>Created</span></th>
                            <!-- <th md-column><span>Price</span></th> -->
                            <th md-column><span>Address</span></th>
                            <th md-column><span>City</span></th>
                            <th md-column><span>State</span></th>
                            <!-- <th md-column><span>Postal_code</span></th> -->
                            <!-- <th md-column><span>Rating</span></th> -->
                            <th md-column><span>Detials</span></th>
                            <th md-column><span>Radius(Meter)</span></th>
                            <th md-column><span>Restaurant</span></th>
                            <th md-column><span>Supermarket</span></th>
                            <th md-column><span>Bank</span></th>
                            <th md-column><span>Gas</span></th>
                        </tr>
                    </thead>

                    <tbody md-body>
                        <tr md-row md-select="result" md-on-select="logItem" md-auto-select="options.autoSelect"
                            ng-repeat="result in results.data | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">

                            <td md-cell>{{result.created}}</td>
                            <!-- <td md-cell>{{result.price}}</td> -->
                            <td md-cell>{{result.address}}</td>
                            <td md-cell>{{result.city}}</td>
                            <td md-cell>{{result.state}}</td>
                            <!-- <td md-cell>{{result.postal_code}}</td> -->
                            <!-- <td md-cell>{{result.rating}}</td> -->
                            <td md-cell><a ng-href="{{result.link}}">{{result.link_name}}</a></td>
                            <td md-cell>{{result.radius}}</td>
                            <td md-cell>{{result.num_restaurant}}</td>
                            <td md-cell>{{result.num_supermarket}}</td>
                            <td md-cell>{{result.num_bank}}</td>
                            <td md-cell>{{result.num_gas}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-page="query.page"
             md-total="{{results.count}}" md-page-select="options.pageSelector"
             md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination">
            </md-table-pagination>

        </md-content>
        </div>
    </body>

</html>
