<html lang="en" >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <!-- Google Map -->
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTTv7h0qKA3oi8ruS47R1DNIJIgpmvN3g&libraries=places&callback=initMap">
        </script>
        <!-- css and js -->
        <link rel="stylesheet" href="css/styles.css">
        <script type="text/javascript" src="js/acp.js"></script>
        <script type="text/javascript" src="js/factory.js"></script>
        <script type="text/javascript" src="js/search_controller.js"></script>
        <script type="text/javascript" src="js/user_console_controller.js"></script>
        <script type="text/javascript" src="js/virtual_repeat_controller.js"></script>
        <script type="text/javascript" src="js/initMap.js"></script>
    </head>

    <body ng-app="acp" ng-cloak>

        <div ng-app="acp" ng-controller="user_console_controller" layout="column" ng-cloak class="md-inline-form">
            <md-list flex-offset="0" layout-padding>
                <md-list-item layout-align="start center">

                    <md-input-container md-no-float flex>
                        <label>Username</label>
                        <input ng-model="username" type="email" flex>
                    </md-input-container>

                    <md-input-container md-no-float flex>
                        <label>Password</label>
                        <input ng-model="password" type="password" flex>
                    </md-input-container>

                    <md-button md-no-ink class="md-raised md-primary" ng-click="login()" flex>Login</md-button>
                    <md-button md-no-ink class="md-raised md-primary" ng-click="logout()" flex>Logout</md-button>
                    <md-button md-no-ink class="md-raised md-primary" ng-click="register()" flex>Register</md-button>
                    <md-button ng-disabled="isDisabled" class="md-raised md-primary" ng-click="save_result()" flex>Save Result</md-button>
                    <md-button ng-disabled="isDisabled" class="md-raised md-primary" ng-click="show_results()" flex>Show Results</md-button>
                    <md-button ng-disabled="isDisabled" class="md-raised md-primary" flex>Apartment Report</md-button>
                </md-list-item>
            </md-list>
        </div>

        <div ng-app="acp" ng-controller="search_controller" layout="column" ng-cloak class="md-inline-form">
            <md-content flex-offset="0" layout-padding layout="row">
                <div flex="50">
                    <md-input-container class="md-block">
                        <label>Address</label>
                        <input ng-model="address">
                    </md-input-container>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>City</label>
                            <input ng-model="city">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>State</label>
                            <input ng-model="state">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Postal Code</label>
                            <input name="postal_code" ng-model="postal_code" placeholder="12345"
                            required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Radius (Meter)</label>
                            <input ng-model="radius" placeholder="1000">
                        </md-input-container>
                    </div>

                    <div layout="column" layout-sm="column" layout-align="center center" layout-wrap="">
                        <section>
                            <md-button class="md-raised" ng-click="search()">search</md-button>
                            <md-button class="md-raised md-primary" ng-click="clearFunc()">clear</md-button>
                        </section>
                    </div>
                </div>

                <div id="map" flex="50"></div>
            </md-content>


            <div>
                <table>
                    <tr>
                        <td>price</td>
                        <td>{{price}}</td>
                    </tr>
                    <tr>
                        <td>restaurant</td>
                        <td>{{num_restaurant}}</td>
                    </tr>
                    <tr>
                        <td>supermarket</td>
                        <td>{{num_supermarket}}</td>
                    </tr>
                    <tr>
                        <td>Bank</td>
                        <td>{{num_bank}}</td>
                    </tr>
                    <tr>
                        <td>Gas</td>
                        <td>{{num_gas}}</td>
                    </tr>
                    <tr>
                        <td>Detials</td>
                        <td><a ng-href="{{link}}">{{link_name}}</a></td>
                    </tr>
                    <tr>
                        <td>Rating</td>
                        <td>{{rating}}</td>
                    </tr>
                </table>
            </div>

        </div>


        <!-- <div ng-app="myApp" ng-controller="search_controller as ctrl" ng-cloak>
            <md-content layout="column">
                <md-virtual-repeat-container id="vertical-container">
                    <p>hahah</p>
                    <div md-virtual-repeat="item in ctrl.items" class="repeated-item" flex>
                        {{item}}
                    </div>
                </md-virtual-repeat-container>
            </md-content>
        </div> -->

        <!-- <div ng-app="myApp" ng-controller="search_controller" layout="column" layout-sm="column" layout-align="center center" layout-wrap="" >
            <md-input-container>
                <label>Apartment Address</label>
                <input ng-model="address" type="text">
            </md-input-container>

            <md-input-container>
                <label>Zip Code</label>
                <input ng-model="zip_code" type="number">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Address</label>
                <input ng-model="user.address">
            </md-input-container>


            <p>address: <input type="text" ng-model="address" placeholder="Apartment address"></p>
            <p>Zip Code: <input type="text" ng-model="zip_code" placeholder="Zip code"></p>
        </div> -->
    </body>

    <!-- <p>start</p>

    <div ng-app="myApp" ng-controller="virtual_repeat_controller as ctrl">
      <md-content>

            <md-virtual-repeat-container md-top-index="topIndex">
                <div md-virtual-repeat="i in items" md-item-size="20">Hello {{i}}!</div>
            </md-virtual-repeat-container>


            <md-virtual-repeat-container id="vertical-container" style="visibility:{{show}}">
                <div md-virtual-repeat="item in ctrl.items" md-on-demand="" class="repeated-item" flex="">
                    {{item}}
                </div>
            </md-virtual-repeat-container>
        </md-content>
    </div>

    <p>end</p> -->

</html>
